@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* In this css file, every style
that applies for all of the pages of the admin
panel is defined.

Every object that is only referred to by its
class name or id will have its object type written
in the first comment that refers to it.
example: div - .mainContent
*/



/*base styles for every element of every page*/
*{
    margin:0;
    padding:0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

/* every object that shall be hidden on desktop can add this class */
.hiddenOnDesktop{
  display:none;
  position: absolute;
}

/* hides the scrollbar on desktop */
::-webkit-scrollbar {
display: none;
}

/***non visible bookmark to scroll up to***/
#sanfang {
    visibility: hidden;
    position: absolute;
}
/******/

/* Sticky full-width navbar */
nav{

    width: 100%;
    position: sticky;
    position: -webkit -sticky;
    top:0;
    font-size:22px;
    background-color: tomato;
    z-index: 7;
}

/* list of links to user-end in the navbar*/
nav ul{
    display: flex;
    flex-direction:row;
    position: relative;
    justify-content: flex-end;
    list-style-type: none;
    margin:0;

}

nav ul li{
    display: block;
    color: white;
    font-size: 2.2vh;
    margin: 1vh 0.6vw;
}
/* "container" of the links to user-end */
nav ul li span{
    display: inline-block;
    padding: 1.35vh;
}
/* links to user-end */
nav ul li span a{
    text-decoration: none;
    color: white;
}
/* hovered links to user-end */
nav ul li a:hover{
    color:white;
    text-decoration: none;
}


/* desktop: Logo in the top left corner */
.logonavDesktop{
  margin-top: 1.2vh;
  width: 22.2vh;
  height: 5vh;
  position: absolute;
}

/******** styles for the dropdown of the user icon **********/



/* desktop: user icon top right */
#userMenuButton{
  border-radius: 50%;
  width: 6vh;
  height: 6vh;
  background-color: white;
  border: none;
  position: relative;
  display:block;
}

/* span for aligning the link */
#userMenuButton span{
  height: 3vh;
  width: 3vh;
  position: absolute;
  top: 23%;
  left: 24%;
  padding: 0;
  text-align: center;
}
#userMenuButton:hover{
  cursor: pointer;
}
#userMenuButton span a{
  color: #444;
  text-decoration: none;
  font-size: 2.2vh;

}



/* container of the icon dropdown menu */
.divUserMenu{
  background-color: white;
  color: #444;
  display:none;
  position: absolute;
  width: 17vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
  margin: 0;
  right: 0;
}
/* list of links in the icon dropdown menu */
.divUserMenu ul{
  color: #444;
  display:flex;
  flex-direction: column;
  margin: 1.5vh 1.75vw;
}
/* links of icon dropdown menu */
.divUserMenu ul li a{
  color: #444;
  text-decoration: none;
}

/* hovered links of icon dropdown menu */
.divUserMenu ul li a:hover{
  color: tomato;
  text-decoration: none;
}

/* toggled when the icon is clicked */
.show{
  display: inline-block;
}


/*Container fürs Timerbanner*/
#timerdesktop{
    font-size:0.3em;
    padding: 0.25em;
    display:flex;
    justify-content:center;
    color:white;

}
/*GeMont-Logo oben rechts*/
.logonavMobile{
    margin-top: 0.3em;
        height: 1.8em;
        position: absolute;
}


/*Timerbanner in tomato ohne timer*/
.timerbanner{
    background-color: tomato;
    height:3vh;
    width:100%;
    padding:0;
    margin:0;
    clear: both;
    color:white;
    z-index: 0;
}
/* span - in these spans comment counters that display e.g.
the amount of uanpproved comments are located
Their background-color stylings are located in messages.css. */
.count{
  padding: 0.5vh 0.5vw;
  border-radius: 5px;
  margin: 0 0.5vw;
}



/* div - This container contains every content
that is located between the top navigation
bar and the footer */
.wrapper{
  display: flex;
  flex-direction: row;
  height: 92vh;
}


/* div - container of the side navigation which is
located on the left of every admin panel page */
.side-nav{
  max-width: 25vw;
  min-width: 20vw;
  border-right: 1px solid #444;
  margin-right: 5vh;
}
/* list of the links of the side-nav */
.side-nav ul{
  margin-left: 3vw;
  margin-top: 5vh;
  list-style-type: none;
}
/* list-items that contain the links */
.side-nav ul li{
  margin-bottom: 2.5vh;
}

.side-nav ul li a{
  color: #444;
  text-decoration: none;
}
/* the active page's link shall be highlighted in orange */
.side-nav ul li a.active{
    color: tomato;
}
/* when hovered the links shall change their color to orange */
.side-nav ul li a:hover{
  color: tomato;
}

/* div - In this container, the main content
(right of the left side navigation) is stored. */
.mainContent{
  margin: 5vh 3vw 5vh 0;
}

/* this is usually the heading of the main content */
.mainContent h3{
  font-size: 2.26vh;
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
  margin-left: 2vw;
}

/* div - In table-containers the various tables
of the admin-panel (normally together
with their headings) are stored */
.table-container{
  margin-top: 5vh;
  margin-bottom: 9vh;
  overflow-y: scroll;
}

/* the following styles all refer to the tables
that appear on various pages of the admin panel */
table{
  margin: 3vh 2vw 3vh 2vw;
  border-collapse: collapse;
  font-size: 1.6vh;
  border-radius: 5px 5px 0 0;
  overflow:hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color: #f2f2f2;
}
/* table row in which the column names are displayed */
table thead tr {
  background-color: #fff;
  color: #444;
  text-align: left;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}
/* table rows in which the fetched is displayed */
table tbody tr {
  border-top: 1px solid #ddd;
}

table th, table td {
  padding: 2vh 0.5vw;
}
table th:first-of-type, table td:first-of-type{
  padding-left: 1vw;
}
table th:last-of-type, table td:last-of-type{
  padding-right: 1vw;
}

table td a{
  color: #444;

}


/* The following classes are used to define special margins
between table-columns */

.tableNameHeadingSpan{
  margin-right: 6vw;
}

.tableDateHeadingSpan{
  margin-right: 8vw;
}
.tableCommentHeadingSpan , .tableTitleHeadingSpan{
  margin-right: 10vw;
}

.tableApprovedByHeadingSpan{
  margin-right: 6vw;
}

.tableCategoryHeadingSpan{
  margin-right: 1vw;
}



/* div - In form-containers the various forms
of the admin-panel are stored */

.form-container{
  margin-left: 2vw;
}

fieldset{
  border:none;
}

/* styles for every input field of the admin panel */
form input{
  margin: 1.5vh 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 0.5vh 0.5vw;
  color: #444;
}
form input:focus{
  border: 1px solid #999;
  outline:none;
}

/* input (type=submit) -
 base styles for every submit button */
.btnSubmit{
  padding: 1vh 1vw;
  color: #444;
  background-color: #f2f2f2;
  border: none;
}
.btnSubmit:focus{
  border: 1px solid #777;
}
.btnSubmit:hover{
  cursor:pointer;
}







/***Footer***/
footer {
    position: relative;
    bottom: 0;
    background-color: #666;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 13%;
    padding-right: 13%;
    margin-top: 100px;


}

.impressum {
    color: white;
}
/***Zum Seitenanfang***/
#arrowup{
    border: 2px solid #333;
    border-radius: 1500%;
    background-color: rgb(1,1,1, 0.1);
    transition:     background-color 350ms ease-out,
                    transform        350ms ease-out;
    margin-bottom: 2px;
    margin-top: 3px;
    font-size: 23px;
    color:#000;
    padding: 3px 7px;

}
#arrowup a{

    text-decoration: none;
    color: black;
}

#arrowup:hover{
    background-color: tomato;
    transform: scale(1.1);
}


footer p {
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 1em;
    bottom: 0;
    margin: 0;
}
/******/
