


.wrapper{
  display: flex;
  flex-direction:row;
  color: #444;
  margin-top: 6vh;
}

.mainContent{
  width: 70vw;

}

.sideContent{
  width: 25%;
  position: absolute;
  right: 0;
}


/* Main Content */

.mainContentWrapper{

  width: 53.5vw;
  margin: 0 0 5vh 15vw ;
}

.thumbnail{
  width: 53.5vw !important;
  height: 30.1vw !important;
  margin-bottom: 6%;
}

.timestamp{
  text-align: right;
  font-weight: lighter;
  font-size: 1.7vh;
  padding-top: 0.6em;
  width:10vw;
  position: absolute;
  left:100%;
  transform: translateX(-100%);

}
.title-container{
  position: relative;
}
.postTitle{
  border-bottom: 1px solid #777;
  padding-bottom: 1vh;
}


.post{
  line-height: 1.5;
  display: block;
  width: 100%;
  margin-bottom: 3%;
  text-align: left;
  font-size: 17px;
}

.author{
  display:block;
  width: 100%;
  text-align: right;
  margin-top: 5vh;
}

.author span{
  margin-right: 3vw;
}

.contact-form{
  margin-top: 5vh;
  border-top: 1px solid #999;
  padding-top: 3vh;
}

form{
    transition: all 4s ease-in-out;
}

.form-control{
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #999;
    color: #444;
    font-size: 14px;
    margin-bottom: 5px;
}

input{
    height: 30px;

}

form .submit{
    background: #ff6347;
    border-color: transparent;
    color: white;
    letter-spacing: 2px;
    height: 40px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 3vh;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: "Open Sans", sans-serif;
}
::-moz-placeholder { /* Firefox 19+ */
    font-family: "Open Sans", sans-serif;
}
:-ms-input-placeholder { /* IE 10+ */
    font-family: "Open Sans", sans-serif;
}
:-moz-placeholder { /* Firefox 18- */
    font-family: "Open Sans", sans-serif;
}

form .submit:hover{
    background-color: #F03B1A;
    cursor: pointer;

}

.commentHeading{
  font-size: 1.2vh;
}

.commentText{
  margin: 1vh 0;

}


.sideContentWrapper{
  width: 80%;
  margin: 6vh auto;
  margin-right: 4.5vw;
}

.link-container{
  margin: 2vh 0;
  border: 1px solid #ddd;
  position: relative;
}

.link-container:hover{
  transform: scale(1.05);
  transition: all 0.5s;
}


.imageSideNav{
  width: 19.9vw !important;
  height : 11.8vw !important;
}

.link-container span{
  position: absolute;
  z-index: 3;
  display: block;
  color: #fff;
  top: 45%;
  transform: translateY(45%);
  right: 10%;
  height: 20%;
  text-align: right;
}

.link-container span p{
  display: inline-block;
  background-color: rgba(123, 123, 123, 0.6);
  padding: 0.5vh 1vw;
  font-size: 1.2vh;
  margin-top: 0.3vh;
}
.link-container span h3{
  display: inline-block;
  background-color: rgba(123, 123, 123, 0.6);
  padding: 0.5vh 1vw;

}
