.wrapper{
    height: 100vh;
    width: 66%;
    margin: 0 auto;

}

.contactIntro{
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    margin-top: 12vh;
    color: #333;
}

form{
    transition: all 4s ease-in-out;
}

.form-control{
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #999;
    color: #444;
    font-size: 15px;
    margin-top: 7px;

}

input{
    height: 30px;
}

.contactmessage{
    width: 100%;
    position: relative;

}
form .submit{
    background: #ff6347;
    border-color: transparent;
    color: white;
    letter-spacing: 2px;
    height: 40px;
    width: 200px;
    margin-top: 20px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: "Open Sans", sans-serif;
}
::-moz-placeholder { /* Firefox 19+ */
    font-family: "Open Sans", sans-serif;
}
:-ms-input-placeholder { /* IE 10+ */
    font-family: "Open Sans", sans-serif;
}
:-moz-placeholder { /* Firefox 18- */
    font-family: "Open Sans", sans-serif;
}

form .submit:hover{
    background-color: #F03B1A;
    cursor: pointer;

}
